@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__aria-live {
    display: none;
}
.react-datepicker__input-container input {
    @apply block w-full;
}

.react-datepicker-popper {
    @apply z-40 px-3 py-2 text-sm bg-white border-2 border-gray-200 rounded shadow w-72;
}

.react-datepicker-left {
    @apply absolute left-0 right-auto top-11 transform-none !important;
}

.react-datepicker-right {
    @apply absolute right-0 left-auto top-11 transform-none !important;
}

.react-datepicker__portal {
    @apply absolute right-0 z-10 px-3 py-2 text-sm bg-white border-2 border-gray-200 rounded shadow w-72 transform-none top-12;
}

.react-datepicker__month-container {
    @apply flex flex-col;
}

.react-datepicker__month {
    @apply flex flex-col;
}

.react-datepicker__current-month {
    @apply ml-2.5 text-lg font-semibold text-gray-800;
}

.react-datepicker__week {
    @apply flex justify-around;
}

.react-datepicker__day-names {
    @apply flex justify-around text-xs font-medium text-center text-gray-400;
}

.react-datepicker__day-name {
    @apply flex items-center justify-center w-8 h-8 py-1 rounded-full;
}

.react-datepicker__navigation {
    @apply absolute top-2;
}

.react-datepicker__navigation--previous {
    @apply flex items-center justify-center w-8 h-8 transition rounded right-12 hover:bg-gray-200;
}

.react-datepicker__navigation--next {
    @apply flex items-center justify-center w-8 h-8 transition rounded right-4 hover:bg-gray-200;
}

.react-datepicker__day {
    @apply flex items-center justify-center w-8 h-8 py-1 mb-1 text-sm leading-loose text-gray-700 transition rounded-full;
}

.react-datepicker__day--disabled {
    @apply cursor-not-allowed opacity-40 hover:bg-transparent;
}

.react-datepicker__day--outside-month {
    @apply text-gray-300;
}

.react-datepicker__day--in-range {
    @apply bg-gray-200;
}

.react-datepicker__day--in-selecting-range {
    @apply bg-stone-200;
}

.react-datepicker__day--selecting-range-start {
    @apply bg-white border-2 border-stone-500;
}

.react-datepicker__day--selecting-range-end {
    @apply bg-white border-2 border-stone-500;
}

.react-datepicker__day--selected {
    @apply text-white bg-stone-500;
}

.react-datepicker__day--range-start {
    @apply text-white bg-stone-500 hover:text-gray-700 hover:bg-white;
}

.react-datepicker__day--range-end {
    @apply text-white bg-stone-500 hover:text-gray-700 hover:bg-white;
}

/* .table {
    border-spacing: 0 15px;
} */
/* 
.table tr {
    border-radius: 20px;
}

tr td:nth-child(n + 5),
tr th:nth-child(n + 5) {
    border-radius: 0 0.625rem 0.625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
    border-radius: 0.625rem 0 0 0.625rem;
} */
